body {
    margin: 5% 10%;
    background-color: rgb(191, 220, 236, 1);
  }

h1 {
    color: rgb(4, 108, 164, 1);
}

h2 {
    color: rgb(29, 131, 187, 1);
}

h3 {
    color: rgb(22, 87, 124);
}

table, th, td {
    border: 1px solid black;
  }